{% extends 'base.html' %}
{% load static %}

{% block title %}
    HI DAY | Histori Penjualan
{% endblock title %}
{% block meta%}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock meta%}
{% block content %}
    <center>
        <h1>FORM UPDATE HISTORI PENJUALAN</h1>
        <br/>
        <form action = "" method="POST", id="form">
            {% csrf_token %}
            
            <input type="submit" value="Create">
            <br/>
            <ul><a href="#">[PRODUKSI]</ul>
        </form>
    </center>
{% endblock content %}