{% extends 'base.html' %}
{% load static %}

{% block title %}
    HI DAY | Produksi Hewan
{% endblock title %}
{% block meta%}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock meta%}
{% block content %}
    <center>
        <h1>FORM PRODUKSI HEWAN</h1>
        <form action = "" method="POST", id="form">
            {% csrf_token %}
            <div>
                <label>ID Hewan: </label>
                <select class="form-control" id="id_hewan" name="id_hewan_input"required>
                    {% for data in result %}
                        <option value={{data.id_hewan}}>{{data.id_hewan}}</option>
                    {% endfor %}}
                </select>
            </div>
            <br/>
            <div>
                <label>Jumlah: </label>
                <input type="number" class="form-control" id="jumlah" value="" onchange="total()" name="jumlah_input" required>
            </div>
            <br/>
            <div>
                <label>XP: </label>
                <input type="number" class="form-control" id="xp" name="xp_input" required disabled>
            </div>
            <br/>
            <input type="submit" class="btn btn-success" value="Produksi">
            <br/>
        </form>
    </center>
    <script type="text/javascript">
        function total() {
            var jumlah = document.getElementById('jumlah').value;
            var xp = 5 * jumlah;
            document.getElementById('xp').value = xp;
            document.getElementById('xp').innerHTML = xp;
        }
    </script>
{% endblock content %}