{% extends 'base.html' %}
{% load static %}

{% block title %}
    Produksi Tanaman
{% endblock title %}

{% block meta%}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock meta%}

{% block content %}
<script>
    function validateForm() {
      var x = document.forms["myForm"]["in-jumlah"].value;
      if (x == "" || x == null) {
          alert("Data yang diisikan belum lengkap, silahkan lengkapi data terlebih dahulu");
          return false;
      }
    }

    function kaliXP() {
      jumlah = document.getElementById("in-jumlah").value
      document.getElementById("in-xp").value = jumlah * 5
    }
</script>
<h1 class="list_title">Form Produksi Tanaman</h1>
<h2 class="message">{{message}}</h2>
<div class="row justify-content-center">
  <div class="login">      
    <form  name="myForm" method="POST" action="{% url 'produksi-tanaman' %}" onsubmit="return validateForm()" method="post" required>
      {% csrf_token %}
      <label class="label" for="bibit_tanaman">Bibit Tanaman:</label>
      <select class="form-control" name="bibit_tanaman" id="bibit_tanaman" >
        {%for row in bibit_tanaman %}
        <option value="{{row.nama}}">{{row.nama}}</option>
        {% endfor %}
      </select>
      <br>
      {% comment %} <div class="loginForm">{{ form.as_p }}</div> {% endcomment %}
      <div>
        <label class="label" id="jumlah" name="jumlah">Jumlah:</label><br>
        <input id="in-jumlah" name="in-jumlah" placeholder="*Required" onchange="return kaliXP()">
      </div>
      <br>
      <div>
        <label class="label" id="xp" name="xp">XP:</label><br>
        <input id="in-xp" name="in-xp" readonly placeholder="*Required">
      </div>
      <br>
      <input type="submit" value="Produksi" name="tombol" class="mybutton">
    </form>
  </div>
</div>
{% endblock content %}