{% extends 'base.html' %}
{% load static %}

{% block title %}
    Upgrade Lumbung
{% endblock title %}

{% block meta%}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock meta%}

{% block content %}
<h1 class="list_title">Upgrade Lumbung</h1>
<h2 class="message">{{message}}</h2>
<div class="row mainRow align-items-center justify-content-center">
  <div class="login">     
    <form  method="POST" action="{% url 'upgrade-lumbung' %}">
      {% csrf_token %}
      {% for form in form.visible_fields %}
        <div class="loginForm">{{ form.label_tag }} {{ form }}</div>
      {% endfor %}
      <input type="submit" value="Upgrade" name="tombol" class="mybutton">
    </form>
  </div>
</div>
{% endblock content %}