<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
    <title>HI DAY | Lihat Koleksi Aset
    </title>
</head>
<body>
<h1>MENU LIHAT KOLEKSI ASET</h1>
<button name="read_koleksi_dekorasi" type="submit" value="Dekorasi" href="{% url 'aset:readKoleksiDekorasi' %}">Dekorasi</button>
<button name="read_koleksi_bibit_tanaman" type="submit" value="Bibit Tanaman" href="{% url 'aset:readKoleksiBibitTanaman' %}">Bibit Tanaman</button>
<button name="read_koleksi_kandang" type="submit" value="Kandang" href="{% url 'aset:readKoleksiKandang' %}">Kandang</button>
<button name="read_koleksi_hewan" type="submit" value="Hewan" href="{% url 'aset:readKoleksiHewan' %}">Hewan</button>
<button name="read_koleksi_alat_produksi" type="submit" value="Alat Produksi" href="{% url 'aset:readAlatProduksi' %}">Alat Produksi</button>
<button name="read_koleksi_petak_sawah" type="submit" value="Petak Sawah" href="{% url 'aset:readPetakSawah' %}">Petak Sawah</button>
</body>
</html>