{% extends 'base.html' %}
{% load static %}

{% block title %}
    Produk
{% endblock title %}

{% block meta%}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock meta%}

{% block content %}
<div class="container justify-content-center align-items-center">
    <h1 class="list_title">Produk</h1>
    <h2 class="message">{{message}}</h2>

    <div class="row justify-content-center">
        {% if roleAdmin%}
        <a href="{% url 'produk:createProduk' %}" class="mybutton" role="button" style="margin-bottom: 30px;">Buat Produk</a>
        {% endif %} 
        <table class="table table-hover table-striped text-center">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Jenis</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Harga Jual</th>
                    <th scope="col">Sifat</th>
                    {% if roleAdmin %}
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                    {% endif %} 
                </tr>
            </thead>
            <tbody>
            {%for row in hasil %}
                <tr class="table-striped">
                <th scope="row">{{forloop.counter}}</th>
                <td>{{row.jenis_produk}}</td>
                <td>{{row.nama}}</td>
                <td>{{row.harga_jual}}</td>
                <td>{{row.sifat_produk}}</td>
                {% if roleAdmin %}
                <td><a href="{% url 'produk:formUpdateProduk' row.id %}" class="mybutton butwhite" role="button">EDIT</a></td>
                    {% if row.can_delete %}
                        <td><a href="{% url 'produk:deleteProduk' row.id %}" class="mybutton butred" role="button">DELETE</a></td>
                    {% endif %}
                {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table> 
    </div>
</div>
{% endblock content %}



