<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
    <title>HI DAY E06 | 
    {% block title %}
    {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
</head>
<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light py-3">
    <div class="container-fluid">
      <a class="navbar-brand" href="/Home">
        <img src="{% static 'images/favicon.png' %}" height="32px" alt="" class="d-inline-block align-top">
          <b class="my-auto">HI DAY!</b>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto my-2 my-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Lumbung
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Lihat Isi Lumbung</a>
                  {% if request.session.role == "Pengguna" %}
                  <a class="dropdown-item" href="#">Upgrade Lumbung</a>
                  {% comment %} <a class="dropdown-item" href="{% url 'buat-lumbung' %}">Lumbung</a> {% endcomment %}
                  {% endif %}
                  <a class="dropdown-item" href="#">List Transaksi Upgrade Lumbung</a>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Koin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% if request.session.role == "Admin" %}
                  <a class="dropdown-item" href="#">Buat Paket Koin</a>
                  {% comment %} <a class="dropdown-item" href="{% url 'buat-lumbung' %}">Lumbung</a> {% endcomment %}
                  {% endif %}
                  <a class="dropdown-item" href="#">List Paket Koin</a>
                  <a class="dropdown-item" href="#">List Transaksi Pembelian Koin</a>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Aset
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% if request.session.role == "Admin" %}
                  <a class="dropdown-item" href="#">Buat Aset</a>                 
                  <a class="dropdown-item" href="#">List Aset</a>
                  <a class="dropdown-item" href="#">Buat Hewan Menghasilkan Produk Hewan</a>
                  <a class="dropdown-item" href="#">List Hewan Menghasilkan Produk Hewan</a>                 
                  <a class="dropdown-item" href="#">Buat Bibit Menghasilkan Panen</a>
                  <a class="dropdown-item" href="#">List Bibit Menghasilkan Panen</a>
                  {% comment %} <a class="dropdown-item" href="{% url 'buat-lumbung' %}">Lumbung</a> {% endcomment %}
                  {% endif %}
                  {% if request.session.role == "Pengguna" %}               
                  <a class="dropdown-item" href="#">List Aset</a>
                  <a class="dropdown-item" href="#">List Hewan Menghasilkan Produk Hewan</a>                 
                  <a class="dropdown-item" href="#">List Bibit Menghasilkan Panen</a>
                  {% endif %}
                </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Koleksi Aset
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% if request.session.role == "Admin" %}
                  <a class="dropdown-item" href="#">List Koleksi Aset</a>                 
                  <a class="dropdown-item" href="#">List Transaksi Pembelian Aset</a>
                  {% comment %} <a class="dropdown-item" href="{% url 'buat-lumbung' %}">Lumbung</a> {% endcomment %}
                  {% endif %}
                  {% if request.session.role == "Pengguna" %}               
                  <a class="dropdown-item" href="#">List Koleksi Aset</a>        
                  <a class="dropdown-item" href="#">Buat Transaksi Pembelian Aset</a>                 
                  <a class="dropdown-item" href="#">List Transaksi Pembelian Aset</a>
                  {% endif %}
                </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Produk
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% if request.session.role == "Admin" %}
                  <a class="dropdown-item" href="#">Buat Produk</a>                 
                  <a class="dropdown-item" href="#">List Produk</a>
                  <a class="dropdown-item" href="#">Buat Produksi</a>        
                  <a class="dropdown-item" href="#">List Produksi</a>         
                  {% comment %} <a class="dropdown-item" href="{% url 'buat-lumbung' %}">Lumbung</a> {% endcomment %}
                  {% endif %}
                  {% if request.session.role == "Pengguna" %}                            
                  <a class="dropdown-item" href="#">List Produk</a>     
                  <a class="dropdown-item" href="#">List Produksi</a>  
                  {% endif %}
                </div>
              </li>

              {% if request.session.role == "Admin" %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Histori Produksi
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">List Histori Produksi Hewan</a>                 
                  <a class="dropdown-item" href="#">List Histori Produksi Tanaman</a>
                  <a class="dropdown-item" href="#">List Histori Produksi Makanan</a>             
                  {% comment %} <a class="dropdown-item" href="{% url 'buat-lumbung' %}">Lumbung</a> {% endcomment %}
                </div>
              </li>
              {% endif %}
              {% if request.session.role == "Pengguna" %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Proses Produksi
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Produksi Hewan</a>                 
                  <a class="dropdown-item" href="#">List Histori Produksi Hewan</a>
                  <a class="dropdown-item" href="#">Produksi Tanaman</a>    
                  <a class="dropdown-item" href="#">List Histori Produksi Tanaman</a>
                  <a class="dropdown-item" href="#">Produksi Produk Makanan</a>   
                  <a class="dropdown-item" href="#">List Histori Produksi Makanan</a> 
                  {% comment %} <a class="dropdown-item" href="{% url 'buat-lumbung' %}">Lumbung</a> {% endcomment %}
                </div>
              </li>
              {% endif %}

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Pesanan
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% if request.session.role == "Admin" %}
                  <a class="dropdown-item" href="#">Buat Pesanan</a>                       
                  {% comment %} <a class="dropdown-item" href="{% url 'buat-lumbung' %}">Lumbung</a> {% endcomment %}   
                  {% endif %}                    
                  <a class="dropdown-item" href="#">List Pesanan</a>     
                  <a class="dropdown-item" href="#">List Histori Penjualan</a>  

                </div>
              </li>
      <div class="row justify-items-end">
        <div style="width: 20px;"></div>
        <a href="{% url 'logout' %}" class="mybutton">Log Out</a>
      </div>
    </div>
  </nav>
  <nav></nav>
{% block content %}
{% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
</body>
</html>