<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
    <title>HI DAY | Sign Up
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/back_anim.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
</head>
<body class="login_back area">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'js/test6.js' %}" type="text/javascript"></script>
  <div class="divider"></div>
      <div class="container-fluid">
        <div class="row mainRow align-items-center justify-content-center" style="color: white;">
          <div class="login">      
            <h2 class="headerText">Sign Up</h2>
            <br>
            <br>

            {% if formrole %}
            <form method="POST" action="/RegisterRole/" >
                {% csrf_token %}
                <div class="loginForm">
                  <p class="choiceRole"><label for="id_Role_0">Choose Role:</label></p>
                  <!-- <div class="container"> -->
                    <ul class="row justify-content-between" id="id_Role">
                      <div class="col">
                        <label for="id_Role_0">
                          <div class="menu">
                            <img src="{% static 'images/icons/admin.svg' %}" alt="">
                            <p>Admin</p>
                            <div style="height: 30px;"></div>
                          </div>
                        </label>
                        <input type="radio" name="Role" value="Admin" required="" id="id_Role_0">
                      </div>
                      <div class="col">
                        <label for="id_Role_1">
                          <div class="menu">
                            <img src="{% static 'images/icons/profile.svg' %}" alt="">
                            <p>Pengguna</p>
                            <div style="height: 30px;"></div>
                          </div>
                        </label>
                        <input type="radio" name="Role" value="Pengguna" required="" id="id_Role_1">
                      </div>
                    </ul>
                  <!-- </div> -->
                </div>
                <br>
                <input class="mybutton butwhite" type="submit" value="Register" name="tombol">
            </form>    
            {% endif %}
            
            {% if roleAdmin %}
            <form method="POST" action="/insertAdmin/" >
                {% csrf_token %}
                    <div class="loginForm">{{form.as_table}}</div>
                    <br>
                <input type="submit" value="Register" name="tombol" class="mybutton butwhite">
            </form>    
            {% endif %}

            {% if rolePengguna %}
            <form method="POST" action="/insertPengguna/" >
                {% csrf_token %}
                <div class="loginForm container1">
                    {{form.as_table}}
                    <br>
                </div>
                <input type="submit" value="Register" name="tombol" class="mybutton butwhite">
            </form>   
            {% endif %}
            
            <p class="text--center" style="color: white;">Have an account? <a href="/Logout/" style="color: #132238;">Sign In</a>
              <p class="text--center" style="color: white; background-color: grey;border-radius: 7px;">{{message}}</p>
        </div>
    </div>
    <div class="divider"></div>



    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
  </ul>
</body>
</html>

