{% extends 'base.html' %}
{% load static %}

{% block title %}
    Buat Paket Koin
{% endblock title %}


{% block content %}
<script>
    function validateForm() {
        var x = document.forms["myForm"]["jumlah"].value;
        var y = document.forms["myForm"]["harga"].value;
        if (x == "" || x == null || y == "" || y == null) {
            alert("Data yang diisikan belum lengkap, silahkan lengkapi data terlebih dahulu");
            return false;
        }
    }
</script>
<div class="container justify-content-center align-items-center">
  <h1 class="list_title">Form Buat Paket Koin</h1>
    <div class="container-fluid">
        <div class="col-md-8 offset-md-2 mt-5">
            <form class="was-validated" name="myForm" onsubmit="return validateForm()" action="/paket-koin/">
                <div class="mb-3">
                    <label for="validationTextarea">Jumlah Koin</label>
                    <input type="number" name="jumlah">
                  </div>
                <div class="mb-3">
                  <label for="validationTextarea">Harga</label>
                  <input type="number" name="harga">
                </div>
                <input type="submit" value="Buat" name="tombol" class="mybutton">
              </form>
        </div>
    </div>
{% endblock content %}