{% extends 'base.html' %}
{% load static %}

{% block title %}
    Pembelian Paket Koin
{% endblock title %}

{% block meta%}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock meta%}

{% block content %}
<h1 class="list_title">Form Pembelian Paket Koin</h1>
<div class="row mainRow align-items-center justify-content-center">
  <div class="login">      
    <form  name="myForm" method="POST" id="all-input" action="/paket-koin/form-beli-paket-koin/" method="post" required>
      {% csrf_token %}
        {% for form in form.visible_fields %}
          <div class="loginForm" id="all-input">{{ form.label_tag }} {{ form }}</div>
        {% endfor %}
      <input type="submit" value="Beli" name="tombol" class="mybutton">
    </form>
  </div>
</div>
{% endblock content %}